.DS_Store

# Data files
*.csv

# Log files
*.log

# Cache
main/output/cache/

# Virtual environments
venv/
env/

# pycache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Output and Results
output/
output_*/

# Python Bytecode
*.pyc
__pycache__/
*.aux
*.log
*.gz
JC/FE5214_Group_Project.aux
JC/FE5214_Group_Project.bbl
JC/FE5214_Group_Project.bcf
JC/FE5214_Group_Project.blg
JC/FE5214_Group_Project.fdb_latexmk
JC/FE5214_Group_Project.fls
JC/FE5214_Group_Project.log
JC/FE5214_Group_Project.run.xml
JC/FE5214_Group_Project.synctex.gz
JC/FE5214_Group_Project.aux
JC/FE5214_Group_Project.log
JC/FE5214_Group_Project.synctex.gz
